<<<<<<< HEAD
<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scale=none">
      <title>profile</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
      <link rel="stylesheet" href="stylesheets/profile.css"></link>
   </head>
<html>
<head>
   <link href="/stylesheets/profile.css" rel="stylesheet">
</head>
<body>
	<div id="screen">
		<div id="cover"></div>
		<div id="content">
			<img id="user-avatar" width="120" height="120" src="https://hips.hearstapps.com/hmg-prod/images/enjoying-the-view-royalty-free-image-1582838254.jpg" alt="Avatar">
			<p id="user-name"> <%= user.username %></p>
			<p id="user-location">Lisbon, Portugal</p>
			<p id="user-description">Photos from all over the world</p>
			<div id="user-general-values">
				<p>
					<span><%= user.post.length %></span>
					<span>231</span>
					<span>Posts</span>
				</p>
				<div class="line"></div>
				<p>
					<span>531</span>
					<span>Followers</span>
				</p>
				<div class="line"></div>
				<p>
					<span>123</span>
					<span>Following</span>
				</p>
			</div>
			
			<form style="position:absolute;" action="/upload" method="post" enctype="multipart/form-data">
			   <input type="file" name="file">
			   <input type="submit" value="upload">
			   <br><br>
			   <input name="caption" placeholder="caption...">
            <br><br>
			</form>
			
			<a href="/posts"><button id="posts-link">Posts</button></a>
			
         <div id="user-publications">
            <% user.post.forEach((post) => { %>
               <% 
               const imageUrl = `https://storage.googleapis.com/pinclone-000.appspot.com/${post.image}`;
               %>
               <img src="<%=imageUrl %>">
            <% }) %>
         </div>
		</div>
	</div>
	<footer>
	   <a href="/feeds"><i class="bi bi-house-door-fill"></i></a>
	</footer>
	
	<script>
	
	</script>
			<a href="/logout" id="logOut-btn">Log Out</a>
			<form action="/upload" method="post" enctype="multipart/form-data">
			   <input type="text" name="caption" placeholder="Enter caption">
			   <input type="file" name="file">
			   <input type="submit" value="upload">
			</form>
			<div id="user-publications">
			   <% user.post.forEach((post)=>{  %>
					<img src="/images/uploads/<%= post.image %>" alt="Публикация 0">
			   <% }) %>
         </div>
		</div>
	</div>
</body>
</html>