@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap");

* {
   padding: 0;
   margin: 0;
	font-family: "Roboto Flex", sans-serif;
}

body {
   width: 100%;
   height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #d3eaff;
}

.line {
	width: 1px;
	height: 60%;
	margin: 0 20px;
	background-color: #bcbcbc;
}

#screen {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#screen #cover {
	width: 100%;
	height: 30%;
	background-image: url("https://media.self.com/photos/5f0885ffef7a10ffa6640daa/4:3/w_5240,h_3929,c_limit/travel_plane_corona.jpeg");
	background-blend-mode: multiply;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#screen #content {
	position: relative;
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: whitesmoke
}

#screen #content #user-avatar {
   width: 25vw;
   height: 25vw;
	object-fit: cover;
	position: absolute;
	top: -13%;
	left: 50%;
	transform: translateX(-50%);
	border: 5px solid white;
	border-radius: 90%;
}

#screen #content #user-name {
	font-size: 2.5rem;
	font-weight: bold;
	margin: 5vh 0 0 0;
	padding: 0;
}

#screen #content #user-location {
	font-size: 1rem;
	color: #b4b4b0;
	margin: 5px 0;
	padding: 0;
}

#screen #content #user-description {
	font-size: 16px;
	color: #6c7171;
	margin: 10px 0 0 0;
	padding: 0;
}

#screen #content #user-general-values {
	width: 85%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 2vh 0;
}

#screen #content #user-general-values p {
	width: 30%;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#screen #content #user-general-values p span:nth-child(1) {
	font-size: 2rem;
	font-weight: bold;
	color: black;
}

#screen #content #user-general-values p span:nth-child(2) {
	font-size: 14px;
	margin: 3px 0 0 0;
	color: #6c7171;
}

#screen #content #logOut-btn {
	color: white;
	font-size: 1rem;
	padding: 0.8vh 6vw;
	margin: 1vh 0;
	border-radius: 15px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f82635;
	cursor: pointer;
}

#screen #content #follow-btn:hover {
	background: #f56700;
}

#screen #content #user-publications {
	position: relative;
	width: 100%;
	margin: 1vh 0;
	display: grid;
	gap: 0.8vw;
	grid-template-columns: repeat(3, 1fr);
	overflow: auto;
	overflow-x: hidden;
}

#screen #content #user-publications img {
	width: 100%;
	height: 15vh;
	object-fit: cover;
}
